<section class="container">
<section class="row"> 
    <div class="col-6">
        <form id="form">
            <h2>New Art</h2>
            <ul>
                <ul>
                    <label for="title">What is the title of your painting?</label>
                    <input type="text" id="title">
                </ul>
                <ul>
                    <label for="description">Describe your painting</label>
                    <textarea name="description" id="description" cols="30" rows="10"></textarea>
                </ul>
                <ul>
                    <label>Select file to upload</label>
                    <input type="file" id="fileupload">
                </ul>
                    <ul>
                    <button type="submit" id="uploadButton">Convert</button>
                </ul>
            </ul>
        </form>
    </div>
    

    <div id="dashboard" class="col-6">
        <h2>My Art</h2>
        <div>
        {{#each posts}}
        <div class="painting">
            <a href="/painting/{{id}}">
            <h4>{{title}}</h4>
            <div class="frame">
            <img src={{image_url}} alt="a painting">
            </div>
            </a>
            <a  href="/user/{{user_id}}"> 
            <span>{{user.username}}</span>
            </a>
        </div>
        {{/each}}
        </div>
    </div>
<script src="/js/image-upload.js"></script>
</section>
</section>
