<section id="homepage">
  {{#each posts}}
  <div class="painting">
    <a href="/painting/{{id}}">
      <h4>{{title}}</h4>
      <div class="frame">
         <img src={{image_url}}>
      </div>
    </a>
    <a  href="/user/{{user_id}}"> 
      <span>By {{user.username}} on {{created_at}}</span>
    </a>
  </div>
  {{/each}}
</section>
