<section id="homepage">
  {{#each painting}}
  <div class="painting">
    <a href="/painting/{{painting.id}}">
      <h4>{{painting.title}}</h4>
      <img src={{painting.image_url}}>
    </a>
    <a  href="/user/{{user.id}}"> 
      <span>{{user.username}}</span>
    </a>
  </div>
  {{/else}}
</section>
