<section id="single-post">
        
        <div class="painting">
            <a href="/painting/{{painting.id}}">
            <h4>{{painting.title}}</h4>
            <img src={{painting.image_url}} alt="a painting">
            </a>
            <a  href="/user/{{painting.user_id}}"> 
            <span>{{painting.user.username}}</span>
            </a>
        </div>

        {{#if loggedIn}}
        <form class="comment-form">
          <div>
            <textarea name="comment-text"></textarea>
          </div>

          <div>
            <button type="submit">Comment</button>
          </div>
        </form>
        {{/if}}

        <div class="comments">
          {{#each painting.comments}}
          <section class="comment">
            <div class="text">
              {{text}}
            </div>
            <div class="text-info">
              By {{user.username}} on {{created_at}}
            </div>
          </section>
          {{/each}}
        </div>
        

      {{#if loggedIn}}
      <script src="/js/comment.js"></script>
      {{/if}}
</section>